@import '~vuetify/src/styles/styles.sass';

$font: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;

// Usage: @include transition(color 1s, background-color 1s, border-color 1s);
@mixin transition($x...) {
  -webkit-transition: $x;
  -moz-transition: $x;
  -ms-transition: $x;
  -o-transition: $x;
  transition: $x;
}

.is-preferred {
  color: gray;
}

.underline {
  display: inline-block;

  &:after {
    content: '';
    width: 0;
    height: 1px;
    display: block;
    background: var(--v-primary-darken1);
    @include transition(all 300ms ease);
  }

  &:hover:after {
    width: 100%;
    background: var(--v-primary-darken3);
  }
}

.text-link {
  @extend .underline;

  text-decoration: none;
  color: var(--v-accent-base) !important;
  /* color: var(--v-primary-lighten1) !important;*/

  .v-icon {
    color: var(--v-accent-base) !important;
  }

  @include transition(color 200ms ease);

  &:hover {
    /*color: var(--v-primary-lighten3) !important;*/
    color: var(--v-accent-darken3) !important;

    .v-icon {
      color: var(--v-accent-darken3) !important;
    }
  }
}

.text-link-grey {
  @extend .underline;

  text-decoration: none;
  color: map-get($map: $grey, $key: 'darken-1') !important;
  @include transition(color 200ms ease);

  &:hover {
    color: var(--v-primary-darken3) !important;
  }
}

.menu-link {
  @extend .underline;
  text-decoration: none;

  color: map-get($map: $grey, $key: 'darken-2') !important;
  @include transition(color 200ms ease);

  &:hover {
    color: var(--v-primary-darken3) !important;
  }
}

.menu-link-active {
  display: inline-block;
  color: var(--v-primary-darken3) !important;

  &:after {
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    background: var(--v-primary-darken3);
    @include transition(all 300ms ease);
  }
}

.title-link {
  text-decoration: none;
  color: #fff !important;
  @include transition(color 200ms ease);

  &:hover {
    color: map-get($map: $grey, $key: 'lighten-2') !important;
  }
}

.custom-table {
  border: 1px solid map-get($map: $grey, $key: 'lighten-2');
  tr {
    &:hover {
      background-color: map-get($map: $grey, $key: 'lighten-5') !important;
    }
    td {
      &:first-child {
        background-color: map-get($map: $grey, $key: 'lighten-3') !important;
        border-right: 1px solid map-get($map: $grey, $key: 'lighten-2');
        font-weight: 700;
        font-size: small !important;
      }
    }
  }
}

.no-value {
  color: lightgray;
}

.on-hover {
  background-color: map-get($map: $grey, $key: 'lighten-4') !important;
}

.header-text {
  font-weight: 700;
  text-transform: uppercase;
}

.header-menu-item {
  @include transition(all 350ms ease);

  border-left: 4px solid transparent;
  &.header-menu-item-active {
    border-left: 4px solid var(--v-primary-darken2);
  }

  &:hover {
    border-left: 4px solid var(--v-primary-base);
    div {
      @include transition(all 350ms ease);
      color: var(--v-primary-base);
    }
  }

  div {
    font-weight: 400;
  }
}

.drillcore-box__card {
  @include transition(background-color 200ms ease);

  &:hover {
    background: map-get($map: $grey, $key: 'lighten-4');
  }
}

.cursor-pointer:hover {
  cursor: pointer;
}

th {
  &.sortable {
    white-space: nowrap;
  }
}

.static-cell-header {
  background-color: map-get($map: $grey, $key: 'lighten-4');
}

.static-cell {
  color: map-get($map: $grey, $key: 'darken-1');
}

.reset-search {
  border-radius: 4px !important;
}

.emaapou {
  font-size: 2.5rem !important;
}

.emaapou-detail {
  //font-size: 1.5rem !important;
  letter-spacing: 0.75px;
}

.header-icon-button {
  height: 36px !important;
  width: 36px !important;
}

.image-content {
  width: inherit !important;
}

.emp-title {
  color: #fff !important;
  background-color: #7bbc9a !important;
  /*color: var(--v-tertiary-base) !important;
  background-color: var(--v-quinary-base) !important;*/
}

.emp-title-stratigraphy {
  color: #fff !important;
  background-color: #cb8c37 !important;
}

.emp-title-analysis {
  color: #fff !important;
  background-color: #80a8c2 !important;
}

.emp-title-sample {
  color: #fff !important;
  background-color: #bc7b7b !important;
}

.emp-title-drillcore {
  color: #fff !important;
  background-color: #8f7e9f !important;
}

.emp-title-locality {
  color: #fff !important;
  background-color: #835b51 !important;
}

.emp-title-site {
  color: #fff !important;
  background-color: #8ba56c !important;
}

#app {
  background-color: #f7f6f4 !important;
}

.frontsearch {
  font-size: 1.4em;
  font-weight: bold;
  color: #406451 !important;
  background-color: white;
}

.theme--light.v-data-table tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.03);
}
.theme--dark.v-data-table tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.5);
}

.chip-active {
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  border-color: var(--v-primary-darken2) !important;
}
