@import '~vuetify/src/styles/styles.sass';

$font: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;

// Usage: @include transition(color 1s, background-color 1s, border-color 1s);
@mixin transition($x...) {
  -webkit-transition: $x;
  -moz-transition: $x;
  -ms-transition: $x;
  -o-transition: $x;
  transition: $x;
}

.is-preferred {
  color: gray;
}

.underline {
  display: inline-block;

  &:after {
    content: '';
    width: 0;
    height: 1px;
    display: block;
    background: map-get($map: $deep-orange, $key: 'darken-2');
    @include transition(all 300ms ease);
  }

  &:hover:after {
    width: 100%;
    background: map-get($map: $deep-orange, $key: 'darken-4');
  }
}

.text-link {
  @extend .underline;

  text-decoration: none;
  color: map-get($map: $deep-orange, $key: 'darken-2') !important;
  @include transition(color 200ms ease);

  &:hover {
    color: map-get($map: $deep-orange, $key: 'darken-4') !important;
  }
}

.title-link {
  text-decoration: none;
  color: #fff !important;
  @include transition(color 200ms ease);

  &:hover {
    color: map-get($map: $grey, $key: 'lighten-2') !important;
  }
}

.custom-table {
  border: 1px solid map-get($map: $grey, $key: 'lighten-2');
  tr {
    &:hover {
      background-color: map-get($map: $grey, $key: 'lighten-5') !important;
    }
    td {
      &:first-child {
        background-color: map-get($map: $grey, $key: 'lighten-3') !important;
        border-right: 1px solid map-get($map: $grey, $key: 'lighten-2');
        font-weight: 700;
        font-size: small !important;
      }
    }
  }
}

.page-title {
  font-weight: normal;
}

.no-value {
  color: lightgray;
}

.on-hover {
  background-color: map-get($map: $grey, $key: 'lighten-4') !important;
}

.header-text {
  font-weight: 700;
  text-transform: uppercase;
}

.header-menu-item {
  @include transition(all 350ms ease);

  &:hover {
    background-color: map-get($map: $deep-orange, $key: 'darken-2');

    div {
      @include transition(all 350ms ease);
      color: white;
    }
  }

  div {
    font-weight: 400;
  }
}

.drillcore-box__card {
  @include transition(background-color 200ms ease);

  &:hover {
    background: map-get($map: $grey, $key: 'lighten-4');
  }
}

.cursor-pointer:hover {
  cursor: pointer;
}

th {
  &.sortable {
    white-space: nowrap;
  }
}

.static-cell-header {
  background-color: map-get($map: $grey, $key: 'lighten-4');
}

.static-cell {
  color: map-get($map: $grey, $key: 'darken-1');
}

.reset-search {
  border-radius: 4px !important;
}

.emaapou {
  font-size: 2.5rem !important;
}
