@import '~vuetify/src/styles/styles.sass';

$font: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;

.text-link {
    text-decoration: none;
    color: map-get($map: $deep-orange, $key: 'darken-2') !important;

    &:hover {
        text-decoration: underline;
        color: map-get($map: $deep-orange, $key: 'darken-4') !important;
    
    }
}

.custom-table {
    border: 1px solid map-get($map: $grey, $key: 'lighten-2');
    tr {

        &:hover {
            background-color: map-get($map: $grey, $key: 'lighten-5') !important;;
        }
        td {
            &:first-child {
                background-color: map-get($map: $grey, $key: 'lighten-3') !important;
                border-right: 1px solid map-get($map: $grey, $key: 'lighten-2');
                font-weight: 700;
                font-size: small !important;
            }
        }

    }
}

.page-title {
    font-weight: normal;
}

.no-value {
    color: lightgray;
}

.on-hover {
    background-color: map-get($map: $grey, $key: 'lighten-4') !important;
}

.header-text {
    font-weight: 700;
    text-transform: uppercase;
}

.header-menu-item {
    
    transition: all 0.35s;

    &:hover {
        background-color: map-get($map: $deep-orange, $key: 'darken-2');

        div {
            transition: all 0.35s;
            color: white;
        }
    }

    div {
        font-weight: 400;
    }
}
