@import '~vuetify/src/styles/styles.sass';

$font: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;

// Usage: @include transition(color 1s, background-color 1s, border-color 1s);
@mixin transition($x...) {
  -webkit-transition: $x;
  -moz-transition: $x;
  -ms-transition: $x;
  -o-transition: $x;
  transition: $x;
}

.is-preferred {
  color: gray;
}

.underline {
  display: inline-block;

  &:after {
    content: '';
    width: 0;
    height: 1px;
    display: block;
    background: var(--v-primary-darken1);
    @include transition(all 300ms ease);
  }

  &:hover:after {
    width: 100%;
    background: var(--v-primary-darken3);
  }
}

.text-link {
  @extend .underline;

  text-decoration: none;
  color: var(--v-accent-base) !important;
  /* color: var(--v-primary-lighten1) !important;*/

  .v-icon {
    color: var(--v-accent-base) !important;
  }

  @include transition(color 200ms ease);

  &:hover {
    /*color: var(--v-primary-lighten3) !important;*/
    color: var(--v-accent-darken3) !important;

    .v-icon {
      color: var(--v-accent-darken3) !important;
    }
  }
}

.text-link-grey {
  @extend .underline;

  text-decoration: none;
  color: map-get($map: $grey, $key: 'darken-1') !important;
  @include transition(color 200ms ease);

  &:hover {
    color: var(--v-primary-darken3) !important;
  }
}

.menu-link {
  @extend .underline;
  text-decoration: none;

  color: map-get($map: $grey, $key: 'darken-2') !important;
  @include transition(color 200ms ease);

  &:hover {
    color: var(--v-primary-darken3) !important;
  }
}

.menu-link-active {
  display: inline-block;
  color: var(--v-primary-darken3) !important;

  &:after {
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    background: var(--v-primary-darken3);
    @include transition(all 300ms ease);
  }
}

.title-link {
  text-decoration: none;
  color: #fff !important;
  @include transition(color 200ms ease);

  &:hover {
    color: map-get($map: $grey, $key: 'lighten-2') !important;
  }
}

.custom-table {
  border: 1px solid map-get($map: $grey, $key: 'lighten-2');
  tr {
    &:hover {
      background-color: map-get($map: $grey, $key: 'lighten-5') !important;
    }
    td {
      &:first-child {
        background-color: map-get($map: $grey, $key: 'lighten-3') !important;
        border-right: 1px solid map-get($map: $grey, $key: 'lighten-2');
        font-weight: 700;
        font-size: small !important;
        width: 200px;
      }
    }
  }
}

.no-value {
  color: lightgray;
}

.on-hover {
  background-color: map-get($map: $grey, $key: 'lighten-4') !important;
}

.header-text {
  font-weight: 700;
  text-transform: uppercase;
}

.header-menu-item {
  @include transition(all 350ms ease);

  border-left: 4px solid transparent;
  &.header-menu-item-active {
    border-left: 4px solid var(--v-primary-darken2);
  }

  &:hover {
    border-left: 4px solid var(--v-primary-base);
    div {
      @include transition(all 350ms ease);
      color: var(--v-primary-base);
    }
  }

  div {
    font-weight: 400;
  }
}

.drillcore-box__card {
  @include transition(background-color 200ms ease);

  &:hover {
    background: map-get($map: $grey, $key: 'lighten-4');
  }
}

.cursor-pointer:hover {
  cursor: pointer;
}

th {
  &.sortable {
    white-space: nowrap;
  }
}

.static-cell-header {
  background-color: map-get($map: $grey, $key: 'lighten-4');
}

.static-cell {
  color: map-get($map: $grey, $key: 'darken-1');
}

.reset-search {
  border-radius: 4px !important;
}

.emaapou {
  font-size: 2.5rem !important;
}

.emaapou-detail {
  //font-size: 1.5rem !important;
  letter-spacing: 0.75px;
}

.header-icon-button {
  height: 36px !important;
  width: 36px !important;
}

.image-content {
  width: inherit !important;
}

.title-border {
  border-bottom-width: 5px !important;
  border-bottom-style: solid !important;
}

.emp-title {
  /*color: var(--v-tertiary-base) !important;
  background-color: var(--v-quinary-base) !important;*/

  @extend .title-border;
  border-color: var(--v-main-base) !important;
}

.emp-title-stratigraphy {
  @extend .title-border;
  border-color: var(--v-emp-stratigraphy-base) !important;
}

.emp-title-analysis {
  @extend .title-border;
  border-color: var(--v-emp-analysis-base) !important;
}

.emp-title-sample {
  @extend .title-border;
  border-color: var(--v-emp-sample-base) !important;
}

.emp-title-drillcore {
  @extend .title-border;
  border-color: var(--v-emp-drillcore-base) !important;
}

.emp-title-locality {
  @extend .title-border;
  border-color: var(--v-emp-locality-base) !important;
}

.emp-title-site {
  @extend .title-border;
  border-color: var(--v-emp-site-base) !important;
}

.title-main {
  /*color: var(--v-tertiary-base) !important;
  background-color: var(--v-quinary-base) !important;*/

  @extend .title-border;
  border-color: var(--v-main-base) !important;
}

.title-stratigraphy {
  @extend .title-border;
  border-color: var(--v-emp-stratigraphy-base) !important;
}

.title-analysis {
  @extend .title-border;
  border-color: var(--v-emp-analysis-base) !important;
}

.title-sample {
  @extend .title-border;
  border-color: var(--v-emp-sample-base) !important;
}

.title-drillcore {
  @extend .title-border;
  border-color: var(--v-emp-drillcore-base) !important;
}

.title-locality {
  @extend .title-border;
  border-color: var(--v-emp-locality-base) !important;
}

.title-site {
  @extend .title-border;
  border-color: var(--v-emp-site-base) !important;
}
.title-photo {
  @extend .title-border;
  border-color: var(--v-emp-photo-base) !important;
}
.title-dataset {
  @extend .title-border;
  border-color: var(--v-emp-dataset-base) !important;
}

#app {
  background-color: #f7f6f4 !important;
}

.frontsearch {
  font-size: 1.4em;
  font-weight: bold;
  color: #406451 !important;
  background-color: white;
}

.theme--light.v-data-table {
  &:not(.custom-table) {
    tbody tr:nth-of-type(even) {
      background-color: rgba(0, 0, 0, 0.03);
    }
  }
}
.theme--dark.v-data-table {
  &:not(.custom-table) {
    tbody tr:nth-of-type(even) {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}

.chip-active {
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  border-color: var(--v-primary-darken2) !important;
}

// NOTE: vue2-leaflet-draw-toolbar style fixes / overrides
// Fixes margin issue
.leaflet-draw-toolbar.leaflet-control-toolbar {
  margin-top: 0 !important;
}
// Overrides vuetify list padding style
.leaflet-draw-toolbar {
  padding-left: 0 !important;
}

// Fixes color picker li elements
.leaflet-draw-toolbar {
  .leaflet-toolbar-1 {
    .leaflet-toolbar-icon {
      float: unset !important;
    }
    div {
      border-color: white !important;
    }
  }

  // Sets eyedropper icon
  .fa-fill-drip::before {
    content: '\F020A';
  }

  .fas:before {
    display: inline-block;
    font: normal normal normal 24px/1 'Material Design Icons';
    font-size: 16px;
    color: grey;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
  }
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}
