// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$body-font-family: 'Open Sans', sans-serif;
$heading-font-family: 'Montserrat', sans-serif !important;

// HACK: This is done do change tab overflow arrow colors. It also overrides other active icon colors, so it might change some icons inadvertently.
$material-light: (
  icons: (
    active: var(--v-primary-darken1),
  ),
);

@import '~vuetify/src/styles/styles.sass';
