// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$body-font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
$anchor: #FE5F55;
$anchor-darken-1: #de423d;
$anchor-darken-2: #be2127;
$anchor-darken-3: #9f0012;
$anchor-darken-4: #800000;

//
// @import '~vuetify/src/styles/styles.sass';
// $material-light: (
//   icons: (
//     active:
//       map-get(
//         $map: $deep-orange,
//         $key: 'darken-2',
//       ),
//   ),
// );

// HACK: This is done do change tab overflow arrow colors. It also overrides other active icon colors, so it might change some icons inadvertently.
$material-light: (
  icons: (
    active: $anchor-darken-2,
  ),
);
